<div class="login-page">
  <h2 class="welcome-title">Bienvenue sur <strong>CHC MontLégia</strong></h2>

  <form (ngSubmit)="onSubmit()" class="login-form">
    <!-- Champ identifiant -->
    <input
      type="text"
      name="username"
      [(ngModel)]="username"
      placeholder="Identifiant"
      required
    />

    <!-- Champ mot de passe avec visibilité -->
    <div class="password-container">
      <input
        [type]="showPassword ? 'text' : 'password'"
        [(ngModel)]="password"
        placeholder="Mot de passe"
        name="password"
        required
      />
      <button type="button" class="eye-button" (click)="togglePasswordVisibility()">👁️</button>
    </div>
    
    

    <!-- Boutons -->
    <div class="btn-group">
      <button type="submit">Connexion</button>
      <button type="button" (click)="goToRegister()">S'inscrire</button>
    </div>
  </form>
</div>
